#level_radio{
	display : inline-block;
}

#control_btn{
	display : inline-block;
	position : relative;
	left : 10%;
}

#score{
	display : inline;
}

#write{
	display : inline;
	font-size : 120%;
	border : 1px solid red;
	padding : 0 0.5%;
}

#letter{
	display : inline;
	font-size : 120%;
}